body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1db954, #191414);
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container {
    width: 100%;
    max-width: 1200px; /* Limits the container width */
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
    color: #000;
    text-shadow: 2px 2px #1dE954;
}

h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.6em;
    color: #fff;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 16px;
    text-overflow: ellipsis; /* Applies ellipsis */
    overflow: hidden;
    white-space: nowrap; /* Ensures the text doesn't wrap */
}

#fileInput {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: #1ed760;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileInput:hover {
    background-color: #1db954;
}

.hidden {
    display: none;
}

.stats-section {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center content horizontally */
    gap: 20px; /* Space between the sections */
    width: 100%; /* Adjust the width of the container */
    margin-top: 20px;
}

.stats-music, .stats-podcast {
    width: 50%; /* Set the width to around half the screen */
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 300px; /* Prevent the sections from getting too narrow */
}

.stats-music h3, .stats-podcast h3 {
    margin-top: 10px;
}

.stats-music h2, .stats-podcast h2 {
    font-size: 2.2em; /* Adjust size if needed */
    margin-bottom: 20px; /* Optional margin for spacing */
}

.stats-music ul, .stats-podcast ul {
    margin-left: 20px;
}