body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1db954, #191414);
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    color: #1ed760;
    text-shadow: 2px 2px #000;
}

h2, h3 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 16px;
}

#fileInput {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: #1ed760;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileInput:hover {
    background-color: #1db954;
}

.hidden {
    display: none;
}

.stats-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    gap: 20px;
}

.stats-music, .stats-podcast {
    flex: 1;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 45%;
}
